node_modules/
dist/
.env
server/.env
server/src/.env
.DS_Store
client/.vite/
.vite/server/.envtype
.env
*.env
server/.env
server/src/.env
echo .env>> .gitignore
echo *.env>> .gitignore
echo server/.env>> .gitignore
echo server/src/.env>> .gitignore
echo server/.envtype>> .gitignore
echo .gitignoregit>> .gitignore